body {
    margin: 0;
}
#slider-wrapper {
    overflow: hidden;
    width: 100%;
    max-width: 600px;
    position: relative;
    margin: auto;
}
#slider {
    background-color: pink;
    width: 100%;
    height: 50vh;
    display: flex;
    transition: .5s ease all;
}
.navigate-btn {
    top: 50%;
    position: absolute;
}
.prev-btn {
    left: 10px;
}
.next-btn {
    right: 10px;
}
.slide {
    min-width: 100%;
    height: 100%;
    padding: 15px 80px;
    color: #FFF;
    box-sizing: border-box;
    /*
    width=600-160=440, height=400-80=320
    */
}
#slide1 {
    background-color: brown;
}
#slide2 {
    background-color: blue;
}
#slide3 {
    background-color: darkgoldenrod;
}
#slide4 {
    background-color: darkgreen;
}
#slide5 {
    background-color: darkmagenta;
}